<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Find your match</h1>
        <p class="lead mb-4">Come on in to your matches... all you need to do is sign up!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button (click)="registerToggle()" type="button" class="btn btn-primary btn-lg px-4 gap-3">Register</button>
            <button type="button" class="btn btn-info btn-lg px-4 ">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>
