.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.dropdown-menu {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

img {
    max-height: 40px;
    border: 2px solid #fff;
    display: inline;
    border-radius: 50%;
}